
.collapse p{
	// float: left;
	font-size: 12px;
}
.collapse span{
	// float: left;
	margin-left: 10%;
	margin-right: 3%;
}
.collapse a{
	// float: left;
}
.collapse .nav li{
	margin-left: 33px;
}
.container .row .col-lg-3  {
	width: 292px;
}
.container .row .col-lg-3 p{
	font-size: 9px;
    padding: 0px;
}
.col-lg-3 .block-0{
	margin-top: 20px;
}
.col-lg-3 .block-0 a{
	    margin-right: 6px;
}
.container .row .col-lg-4 span{
	margin-top: 20px;
	font-size: 15px;
	margin-left: 92px;
}
.btn-group{
	margin: 10px;
}

 .navbar-form input{
 	width: 100%;
 	height: 34px;
 	padding: 6px 12px;
 	font-size: 14px;
 	line-height: 1.42857143;
 	color: #555;
 	background-color: #fff;
 	background-image: none;
 	border: 1px solid #ccc;
 	border-radius: 4px;
}
/*.img-responsive{display: inline; margin: 20px;	}
// .img-content{max-width: 140px;}
.block-1{
  border: 1px solid;
  // padding: 15px;
  // margin: 15px 0;
}
// .block-1 img{
// 	width: 140px;
// 	height: 140px;
// }
.block-1 span{
  // padding-left: 15px;
}*/

.btn-ivan{
  color: #000;
  background: pink;
}
.block-2 li{
	list-style-type: none;
}
.block-2 li:first-child{
	font-size: 23px;
}
.block-2 a{
	color: black;
}
.col-lg-12 .block-2{
	text-align: center;
}
.block-2 span{
	margin-bottom: 17px;
}

.menu {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}

.menu li {
  background-color: #d4d6d8;
  border-bottom: 2px solid #ffffff;
}

.menu li:last-child {
  border-bottom: 0;
}

.menu a {
  position: relative;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  color: #ffffff;
  padding-left: 35px;
}
.dropdown-submenu {
 position: relative;
 }
 
 .dropdown>.dropdown-menu {
 top: 0;
 left: 100%;
 margin-top: 2px;
 margin-left: -1px; 
 }
 
 .dropdown:hover>.dropdown-menu {
 display: block;
 }
 
.text-center img{
	margin-top: 10px;
}
.cina {
	margin-top: 30px;
}

.row .block-3 a{
	margin-right: 31px;
}
.row .block-4 img{
	width: 229px;
    margin: 17px;
}
.row .block-4 h5{
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.row .block-4 span{
	font-size: 12px;
}
.row .block-4 .text-center{
	border: 3px solid black;
	border-radius: 9px;	
	margin-top: 10px;
}


/*.full {
    width: 100%;	
}*/
/*.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}*/
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
/*.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}*/
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.footer .tel{
	margin-top: 55px;
}
.footer .tel li{
	padding: 12px;
}
.footer .tel span{
	float: left;
	margin-left: 10px;
}
.footer .tel a{
	float: right;
    margin-left: 13px;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
}
.modal-content img{
	width: 100%;
}
